:root {
  --main-bg: #dcb06a;
  --header-dark: #000000;
  --charcoal: #222222;
  --text-main: #1a1a1a;
  --accent-light: #f6e9d7;
  --white: #ffffff;
  --section:#c89c52;
  --footer: #3b2f2f;
}
html,
body{
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--main-bg);
  color: var(--text-main);
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow-x: hidden;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

header {
  background-color: var(--main-bg);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid var(--charcoal);
  z-index: 1000;
  max-width: 100%;
}
@media(max-width:900px){
  header{
    flex-direction: column;
  }
}

#logo-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo-side h1 {
  color: var(--header-dark);
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

nav a {
  text-decoration: none;
  color: var(--header-dark);
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff8800;
}
#cleaning-hero{
     margin: auto;
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('open-background-cleaning.png');
     background-position: center;
     background-size: cover;
     max-height: 100vh;
     min-width: 90%;
     color: var(--accent-light);
     display: flex;
     justify-content: center;
     flex-direction: column;
     row-gap: 50px;
     text-align: center;
     padding: 200px 20px 60px 20px;
     border-radius: 12px;
     
}
@media (max-width: 750px){
  #cleaning-hero{
    margin-top:200px;
  }
}
#cleaning-hero h2{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}
#cleaning-hero p{
    font-size: 1em;
    font-weight: bold;
}

section{
    max-width: 85%;
    background-color: var(--section);
    padding: 60px 30px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.8);
    
}
#cleaning-detail{
    margin: auto;
    padding: 40px 20px;
    line-height: 1.6;
    
}
#cleaning-detail h2{
    margin-top: 30px;
    color: var(--text-main);
}
#cleaning-detail p{
    padding-left: 20px;
    
}
#cleaning-detail i{
    padding: 10px;
}
#cleaning-detail a{
background-color: var(--header-dark);
  color: var(--accent-light);
  text-decoration: none;
  width: 20%;
  font-weight: lighter;
  border-radius: 8px;
}
#cleaning-detail a:hover{
  background-color: #cc6e00;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transform: translateY(-3px);
  padding: 5px;
  transition: 0.3s ease-in-out;
}
#tiling-hero{
     margin:20px auto 0 auto;
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('tiling-service1.jpg');
     background-position: center;
     background-size: cover;
     max-height: 100vh;
     min-width: 90%;
     color: var(--accent-light);
     display: flex;
     justify-content: center;
     flex-direction: column;
     row-gap: 50px;
     text-align: center;
     padding: 200px 20px 60px 20px;
     border-radius: 12px;
     
}
#tiling-hero h2{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}
#tiling-hero p{
    font-size: 1em;
    font-weight: bold;
}

#tiling-detail{
    margin: auto;
    padding: 40px 20px;
    line-height: 1.6;
    
}
#tiling-detail h2{
    margin-top: 30px;
    color: var(--text-main);
}
#tiling-detail p{
    padding-left: 20px;
    
}
#tiling-detail i{
    padding: 10px;
}
#tiling-detail a{
background-color: var(--header-dark);
  color: var(--accent-light);
  text-decoration: none;
  width: 20%;
  font-weight: lighter;
  border-radius: 8px;
}
#tiling-detail a:hover{
  background-color: #cc6e00;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transform: translateY(-3px);
  padding: 5px;
  transition: 0.3s ease-in-out;
}
#painting-hero{
     margin:20px auto 0 auto;
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('open-background-painting.png');
     background-position: center;
     background-size: cover;
     max-height: 100vh;
     min-width: 90%;
     color: var(--accent-light);
     display: flex;
     justify-content: center;
     flex-direction: column;
     row-gap: 50px;
     text-align: center;
     padding: 60px 20px;
     border-radius: 12px;
}
#painting-hero h2{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}
#painting-hero p{
    font-size: 1em;
    font-weight: bold;
}
#painting-detail{
    padding: 40px 20px;
    margin: auto;
    line-height: 1.6;
}
#painting-detail h2{
    margin-top: 30px;
    color: var(--text-main);
}
#painting-detail p{
    padding-left: 20px;
    
}
#painting-detail i{
    padding: 10px;
}
#painting-detail a{
background-color: var(--header-dark);
  color: var(--accent-light);
  text-decoration: none;
  width: 20%;
  font-weight: lighter;
  border-radius: 8px;
}
#painting-detail a:hover{
  background-color: #cc6e00;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transform: translateY(-3px);
  padding: 5px;
  transition: 0.3s ease-in-out;
}
#plastering-hero{
     margin:20px auto 0 auto;
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('plastering-service1.jpg');
     background-position: center;
     background-size: cover;
     max-height: 100vh;
     min-width: 90%;
     color: var(--accent-light);
     display: flex;
     justify-content: center;
     flex-direction: column;
     row-gap: 50px;
     text-align: center;
     padding: 200px 20px 60px 20px;
     border-radius: 12px;
     
}
#plastering-hero h2{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}
#plastering-hero p{
    font-size: 1em;
    font-weight: bold;
}

#plastering-detail{
    margin: auto;
    padding: 40px 20px;
    line-height: 1.6;
    
}
#plastering-detail h2{
    margin-top: 30px;
    color: var(--text-main);
}
#plastering-detail p{
    padding-left: 20px;
    
}
#plastering-detail i{
    padding: 10px;
}
#plastering-detail a{
background-color: var(--header-dark);
  color: var(--accent-light);
  text-decoration: none;
  width: 20%;
  font-weight: lighter;
  border-radius: 8px;
}
#plastering-detail a:hover{
  background-color: #cc6e00;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transform: translateY(-3px);
  padding: 5px;
  transition: 0.3s ease-in-out;
}
#carpentry-hero{
     margin:20px auto 0 auto;
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('carpentry-service1.jpg');
     background-position: center;
     background-size: cover;
     max-height: 100vh;
     min-width: 90%;
     color: var(--accent-light);
     display: flex;
     justify-content: center;
     flex-direction: column;
     row-gap: 50px;
     text-align: center;
     padding: 200px 20px 60px 20px;
     border-radius: 12px;
     
}
#carpentry-hero h2{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}
#carpentry-hero p{
    font-size: 1em;
    font-weight: bold;
}

#carpentry-detail{
    margin: auto;
    padding: 40px 20px;
    line-height: 1.6;
    
}
#carpentry-detail h2{
    margin-top: 30px;
    color: var(--text-main);
}
#carpentry-detail p{
    padding-left: 20px;
    
}
#carpentry-detail i{
    padding: 10px;
}
#carpentry-detail a{
background-color: var(--header-dark);
  color: var(--accent-light);
  text-decoration: none;
  width: 20%;
  font-weight: lighter;
  border-radius: 8px;
}
#carpentry-detail a:hover{
  background-color: #cc6e00;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transform: translateY(-3px);
  padding: 5px;
  transition: 0.3s ease-in-out;
}
#plumbing-hero{
     margin:20px auto 0 auto;
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('plumbing-service1.jpg');
     background-position: center;
     background-size: cover;
     max-height: 100vh;
     min-width: 90%;
     color: var(--accent-light);
     display: flex;
     justify-content: center;
     flex-direction: column;
     row-gap: 50px;
     text-align: center;
     padding: 200px 20px 60px 20px;
     border-radius: 12px;
     
}
#plumbing-hero h2{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}
#plumbing-hero p{
    font-size: 1em;
    font-weight: bold;
}

#plumbing-detail{
    margin: auto;
    padding: 40px 20px;
    line-height: 1.6;
    
}
#plumbing-detail h2{
    margin-top: 30px;
    color: var(--text-main);
}
#plumbing-detail p{
    padding-left: 20px;
    
}
#plumbing-detail i{
    padding: 10px;
}
#plumbing-detail a{
background-color: var(--header-dark);
  color: var(--accent-light);
  text-decoration: none;
  width: 20%;
  font-weight: lighter;
  border-radius: 8px;
}
#plumbing-detail a:hover{
  background-color: #cc6e00;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transform: translateY(-3px);
  padding: 5px;
  transition: 0.3s ease-in-out;
}
#bricklaying-hero{
     margin:20px auto 0 auto;
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('bricklaying-service1.jpg');
     background-position: center;
     background-size: cover;
     max-height: 100vh;
     min-width: 90%;
     color: var(--accent-light);
     display: flex;
     justify-content: center;
     flex-direction: column;
     row-gap: 50px;
     text-align: center;
     padding: 200px 20px 60px 20px;
     border-radius: 12px;
}
#bricklaying-hero h2{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}
#bricklaying-hero p{
    font-size: 1em;
    font-weight: bold;
}

#bricklaying-detail{
    margin: auto;
    padding: 40px 20px;
    line-height: 1.6;
    
}
#bricklaying-detail h2{
    margin-top: 30px;
    color: var(--text-main);
}
#bricklaying-detail p{
    padding-left: 20px;
    
}
#bricklaying-detail i{
    padding: 10px;
}
#bricklaying-detail a{
background-color: var(--header-dark);
  color: var(--accent-light);
  text-decoration: none;
  width: 20%;
  font-weight: lighter;
  border-radius: 8px;
}
#bricklaying-detail a:hover{
  background-color: #cc6e00;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transform: translateY(-3px);
  padding: 5px;
  transition: 0.3s ease-in-out;
}
#housekeeping-fantasy {
  background: url('fantasy-bg.png') center/cover no-repeat;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  min-width: 90%;
  height: 300px;
  position: relative;
  color: #fff;
}

#quote-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

#quote {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;
}

.quote-button {
  background-color: #ff8800;
  color: white;
  border: none;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quote-button:hover {
  background-color: #cc6e00;
}
#housekeeping-fantasy img{
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  
}
#contact-link{
  background-color: var(--main-bg);
}
#contact-link a{
  background-color: var(--header-dark);
  color: var(--accent-light);
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contact-link a:hover {
  background-color: #cc6e00;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transform: translateY(-3px);
}
footer{
    background-color: var(--footer);
    padding: 15px 30px;
    color: var(--accent-light);
    box-shadow: 0 8px 20px rgba(0,0,0,0.8);
    max-width: 100%;
    
}
footer a {
  color: #f0c674;
  text-decoration: underline;
  font-weight: 500;
}

footer a:hover {
  color: #ffffff; 
  background-color: #000000; 
  text-decoration: none; 
}


footer i{
    margin-right: 10px;
}
